<!DOCTYPE html>
 
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Contacts</title>
        <link rel="stylesheet" href="css/screen.css" />
    </head>
    <body>
        <div id="contacts">
        <form id="addContact" action="#">
            <label for="photo">photo:</label><input id="photo" type="file" />
            <label for="type">Type:</label><input id="type" />
            <label for="name">Name:</label><input id="name" />
            <label for="address">Address:</label><input id="address" />
            <label for="tel">Tel:</label><input id="tel" />
            <label for="email">Email:</label><input id="email" />
            <button id="add">Add</button>
        </form>
        <header>
            <div id="filter"><label>Show me:</label></div>
            <a id="showForm" href="#">Add new contact</a>
        </header>
        </div>
        <script id="contactTemplate" type="text/template">
          <img src="<%= photo %>" alt="<%= name %>" />
          <h1><%= name %><span><%= type %></span></h1>
          <div><%= address %></div>
          <dl>
              <dt>Tel:</dt><dd><%= tel %></dd>
              <dt>Email:</dt><dd><a href="mailto:<%= email %>"><%= email %></a></dd>
          </dl>
          <button class="delete">Delete</button>
        </script>
        
        <script src="js/jquery.min.js"></script>
        <script src="js/underscore.min.js"></script>
        <script src="js/backbone.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>